body {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  background-color: #17172e;
}

main {
  max-width: 82ex;
  margin: 0 auto;
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
